name: Gatsby Publish

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: enriikke/gatsby-gh-pages-action@v2
        env:
          GH_API_KEY: ${{ secrets.demo }}
        with:
          access-token: ${{ secrets.demo }}
          deploy-branch: gh-pages
          gatsby-args: --prefix-paths
