name: PR Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v4.1.3
      - uses: actions/setup-node@v4
        with:
          node-version: '16'
          cache: 'npm'
          check-latest: true

      - run: npm ci
      - run: npm run build
        env:
          GH_API_KEY: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload site as actions artifact
        if: ${{ runner.os == 'Linux' }}
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: public
